body {
    margin: 0;
    padding: 0;
}

.contenedor {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(159, 215, 223);

    display: flex;
    justify-content: center;
    align-items: center;


    overflow: hidden;
}

.contenedor>button {
    position: absolute;
    top: 0;
    left: 0;
}

.botones {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: auto;
    max-width: 800px;

    filter: opacity(0%);
}

.color {
    animation: color .1s forwards;
}

@keyframes color {
    0% {
        filter: opacity(0%);
    }

    75% {
        filter: opacity(100%);
    }

    100% {
        filter: opacity(100%);
    }
}

.start {
    position: absolute;
    top: 5%;
    left: calc(50%-300px);
    width: 100vw;
    max-width: 300px;

    /* background-color: red; */
    cursor: pointer;

    display: flex;
    flex-direction: row;

    z-index: 2;
}
.start:active{
    max-width: 295px;
}
.start > img{
    width: 100%;
    height: auto;
}
.consola{
    display: flex;
    justify-content: center;
    align-items: center;
}

.consola>img {
    width: 100vw;
    height: auto;
    max-width: 800px;
}

canvas {
    border: 2px solid #314108;
    padding: 1px;
    position: absolute;


    width: 41vw;
    height: auto;
    max-width: 330px;
}
.github{
    position: absolute;
    bottom: 2%;
    right: 2%;

    width: 50px;
    height: 50px;

    cursor: pointer;

    /* background-color: red; */
}
.github > a > img{
    width: 100%;
    height: auto;
}