body{
    margin: 0;
    padding: 0;
}
.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(159, 215, 223);


    overflow: hidden;
}
.consola{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);



    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center ;
}
.consola > img{
    width: 100vw;
    height: auto;
    max-width: 800px;
}
canvas{
    border: 2px solid #314108;
    padding: 1px;
    position: absolute;


    width: 41vw;
    height: auto;
    max-width: 330px;
}